p {font-size: 32px;
font-family: "EB Garamond", serif; color: #1D1717; margin-top: 83px;
    margin-left: 35px;}
h1 {font-size: 184px;
font-family: "EB Garamond", serif; color: #1D1717; margin-top: 19px; margin-left: 37px;}
h2 {font-size: 90px;
font-family: "EB Garamond", serif; color: #1D1717; margin-top: 30px;}

.text {width: 1440; margin: 0;}
img  {}
